@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes homeSlide{
    0%{
        transform: translateX(0)
    }
    100%{
        transform: translateX(-50%);
    }
}

.animation-home-slide{
    animation: homeSlide 45s linear infinite;
    display: flex;
    width: max-content;
}

.animate-home-slide:hover{
    animation-play-state: paused
}